{% extends "base.html" %}

{% block content %}
<h1>Welcome</h1>
<h2>How are you today? </h2>
 <div class="mt-2 col-md-12">
  {% if current_user.is_anonymous %}
     <a class="btn btn-info" role="button" aria-current="page" href="{{ url_for('login') }}">Login</a>
     {% else %}
     <a class="btn btn-info" role="button" aria-current="page" href="{{ url_for('logout') }}">Logout {{ current_user.username }}</a>

     <a class="btn btn-info" role="button" aria-current="page" href="{{ url_for('change_pw') }}">Change Password</a>

     {% endif %}
 </div>


{% endblock %}
