{% extends "base.html" %}

{% block content %}

<div class="container px-4 py-5">
    <h2>Welcome, {{ current_user.name }}</h2>
    <div class="col d-flex flex-column align-items-start gap-2">
        <h2 class="fw-bold text-body-emphasis">Left-aligned title explaining these awesome features</h2>
        <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
      </div>
      <div class="col">
        <div class="row row-cols-1 row-cols-sm-2 g-4">
          <div class="col d-flex flex-column gap-2">
            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
              <svg class="bi" width="1em" height="1em" aria-hidden="true">
                <use xlink:href="#collection"></use>
              </svg>
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis"><i class="bi bi-people"></i>  View all students</h4>
            <p class="text-body-secondary">Click here for a list of all students currently registered in the system</p>
            <a class="btn btn-primary btn-lg" role="button" aria-current="page" href="{{ url_for('view_students') }}">View all students</a>
          </div>

          <div class="col d-flex flex-column gap-2">
            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
              <svg class="bi" width="1em" height="1em" aria-hidden="true">
                <use xlink:href="#gear-fill"></use>
              </svg>
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis"><i class="bi bi-bar-chart"></i>  View statistics</h4>
            <p class="text-body-secondary">Click here for a breakdown of student responses to the questionnaire</p>
            <a class="btn btn-primary btn-lg" role="button" aria-current="page" href="{{ url_for('statistics') }}">View Statistics</a>
          </div>

        </div>
      </div>
</div>


{% endblock %}
