{% extends "base.html" %}

{% block content %}

<div class="container px-4 py-5">
    <h2>Welcome back, {{ current_user.name }}</h2>
    <div class="col d-flex flex-column align-items-start gap-2">
        <p class="text-body-secondary">This is your staff dashboard. From here, you can manage students and view performance statistics.</p>
      </div>
      <div class="col">
        <div class="row row-cols-1 row-cols-sm-2 g-4">
          <div class="col d-flex flex-column gap-2">
            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-dark bg-gradient fs-4 rounded-3">
              <svg class="bi" width="1em" height="1em" aria-hidden="true">
                <use xlink:href="#collection"></use>
              </svg>
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis"><i class="bi bi-people"></i>  View all students</h4>
            <p class="text-body-secondary">Click here for a list of all students currently registered in the system</p>
            <a class="btn btn-dark btn-lg" role="button" aria-current="page" href="{{ url_for('view_students') }}">View all students</a>
          </div>

          <div class="col d-flex flex-column gap-2">
            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-dark bg-gradient fs-4 rounded-3">
              <svg class="bi" width="1em" height="1em" aria-hidden="true">
                <use xlink:href="#gear-fill"></use>
              </svg>
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis"><i class="bi bi-bar-chart"></i>  View statistics</h4>
            <p class="text-body-secondary">Click here for a breakdown of student responses to the questionnaire</p>
            <a class="btn btn-dark btn-lg" role="button" aria-current="page" href="{{ url_for('statistics') }}">View Statistics</a>
          </div>

        </div>
      </div>
</div>


{% endblock %}
