{% extends "base.html" %}

{% block content %}
<h1>Welcome, {{ current_user.name }}</h1>


{%if not released%}
<li>
    <a class="btn btn-info" role="button" aria-current="page" href="{{ url_for('release_forms') }}">Release Forms</a>
</li>
{%endif%}
<li>
    <a class="btn btn-info" role="button" aria-current="page" href="{{ url_for('view_students') }}">View all students</a>
</li>  
<li>
    <a class="btn btn-info" role="button" aria-current="page" href="{{ url_for('statistics') }}">View Statistics</a>
</li>
{%if released%}
<li>
    <a class="btn btn-info" role="button" aria-current="page" href="{{ url_for('send_reminders') }}">Send forms reminder to students</a>
</li>
{%endif%}


{% endblock %}
