{% extends "base.html" %}
{% block content %}

<!-- Nav tabs -->
<ul class="nav nav-pills nav-fill gap-2 p-1 small bg-dark rounded-5 shadow-sm" id="pillNav2" role="tablist" style="--bs-nav-link-color: var(--bs-white); --bs-nav-pills-link-active-color: var(--bs-primary); --bs-nav-pills-link-active-bg: var(--bs-white);">

    <li class="nav-item" role="presentation">
        <button class="nav-link rounded-5" id="home-tab2" data-bs-toggle="pill" data-bs-target="#overview" type="button" role="tab">Overview</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link rounded-5" id="distribution-tab" data-bs-toggle="pill" data-bs-target="#distribution" type="button" role="tab">Distribution</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link rounded-5" id="priority-tab" data-bs-toggle="pill" data-bs-target="#priority" type="button" role="tab">Priority List</button>
    </li>
</ul>


<div class="tab-content" id="statisticsTabsContent">
    <div class="tab-pane fade" id="overview" role="tabpanel">
        <h4>Overview</h4>
        {% if most_common_category %}
            <p>The category that students struggle the most with is <strong>{{ most_common_category }}</strong>.</p>
            <p><strong>{{ amount }}</strong> students register this as their biggest struggle currently.</p>
        {% else %}
            <p>No overview data available.</p>
        {% endif %}
    </div>

    <div class="tab-pane fade" id="distribution" role="tabpanel">
        <h4>Distribution</h4>
        {% if data %}
            <img src="data:image/png;base64,{{data}}" alt="Bar chart" class="img-fluid">
        {% else %}
            <p>No distribution data available.</p>
        {% endif %}
    </div>

    <div class="tab-pane fade list-group" id="priority" role="tabpanel">
        {% if priority_list %}
                {% for value in priority_list %}
                <a href="{{ url_for('view_student', id=value['uid']) }}" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <i class="bi bi-person"></i>
                    <div class="d-flex gap-2 w-100 justify-content-between">
                        <div>
                        <h6 class="mb-0">{{ value["name"] }}</h6>
                        <p class="mb-0 opacity-75">{{ value["average"] }}</p>
                        </div>
                        <small class="opacity-50 text-nowrap">now</small>
                    </div>
                </a>
                {% endfor %}
        {% else %}
            <p>No priority list available.</p>
        {% endif %}

</div>

{% endblock %}
