{% extends "base.html" %}
{% import "bootstrap_wtf.html" as wtf %}

{% block content %}

<div class="container">
    <h2>Welcome {{current_user.username}} </h2>
    <h3>Student Details</h3>
    <div class="col-lg-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Student ID</th>
                    <th>Student Name</th>
                    <th>Student Username</th>
                    <th>Student Email</th>
                </tr>
            </thead>
        <tr>
<!--            <td> {{ current_user.student_id }} </td>-->
<!--            <td> {{ current_user.name }} </td>-->
<!--            <td> {{ current_user.username }} </td>-->
<!--            <td> {{ current_user.university_email }} </td>-->
            <td>{{ student_attr["student_id"] }}</td>
            <td>{{ student_attr["name"] }}</td>
            <td>{{ student_attr["username"] }}</td>
            <td>{{ student_attr["university_email"] }}</td>
        </tr>
</table>
<p>Click here to edit your university details: 
    <a class="btn btn-primary btn-sm" role="button" aria-current="page" href="{{ url_for('change_uni_details') }}">Edit University Details</a>
</p>

<p>Click here to change your password: 
    <a class="btn btn-primary btn-sm" role="button" aria-current="page" href="{{ url_for('change_pw') }}">Change Password</a>
</p>

<h3>Student Resources</h3>
<ul class="nav nav-pills nav-fill gap-2 p-1 small bg-dark rounded-5 shadow-sm" id="pillNav2" role="tablist" style="--bs-nav-link-color: var(--bs-white); --bs-nav-pills-link-active-color: var(--bs-primary); --bs-nav-pills-link-active-bg: var(--bs-white);">

    <li class="nav-item" role="presentation">
        <button class="nav-link rounded-5" id="recommended-tab" data-bs-toggle="pill" data-bs-target="#recommended" type="button" role="tab">Recommended for you</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link rounded-5" id="stress-tab" data-bs-toggle="pill" data-bs-target="#stress" type="button" role="tab">Stress</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link rounded-5" id="anxiety-tab" data-bs-toggle="pill" data-bs-target="#anxiety" type="button" role="tab">Anxiety</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link rounded-5" id="depression-tab" data-bs-toggle="pill" data-bs-target="#depression" type="button" role="tab">Depression</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link rounded-5" id="self-esteem-tab" data-bs-toggle="pill" data-bs-target="#self-esteem" type="button" role="tab">Self-esteem</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link rounded-5" id="sleep-tab" data-bs-toggle="pill" data-bs-target="#sleep" type="button" role="tab">Sleep</button>
    </li>
</ul>

<div class="tab-content" id="dynamicHomepage">
    <ul class="list-group"></ul>
    <div class="tab-pane fade" id="recommended" role="tabpanel">
        <h4>Recommended content for you</h4>
        {% if current_user.worst_category == "stress" %}
        <div class="mt-2 col-md-12">
            <li class="list-group-item"><a href="https://www.nhs.uk/mental-health/children-and-young-adults/help-for-teenagers-young-adults-and-students/student-stress-self-help-tips/" class="btn btn-secondary" role="button"> Student stress </a></li>
            <li class="list-group-item"><a href="https://www.prospects.ac.uk/applying-for-university/university-life/5-ways-to-manage-student-stress#:~:text=If%20possible%20leave%20your%20stresses,the%20triggers%20of%20your%20stressors." class="btn btn-secondary" role="button"> Strategies to manage stress </a></li>
            <li class="list-group-item"><a href="https://www.nhs.uk/every-mind-matters/mental-health-issues/stress/" class="btn btn-secondary"  role="button"> Coping with stress </a></li>
        </div>
        {% endif %}
        {% if current_user.worst_category == "anxiety" %}
        <div class="mt-2 col-md-12">
            <li class="list-group-item"><a href="https://www.mind.org.uk/information-support/types-of-mental-health-problems/anxiety-and-panic-attacks/self-care/" class="btn btn-secondary"  role="button"> Self care for anxiety </a></li>
            <li class="list-group-item"><a href="https://www.nhs.uk/every-mind-matters/mental-health-issues/anxiety/" class="btn btn-secondary"  role="button"> Managing anxiety </a></li>
        </div>
        {% endif %}
        {% if current_user.worst_category == "depression" %}
        <div class="mt-2 col-md-12">
            <li class="list-group"><a href="https://www.nhs.uk/every-mind-matters/mental-health-issues/low-mood/" class="btn btn-secondary"  role="button"> Low Mood </a></li>
            <li class="list-group"><a href="https://www.betterhealth.vic.gov.au/health/conditionsandtreatments/depression-treatment-and-management" class="btn btn-secondary"  role="button"> Depression treatment and management </a></li>
        </div>
        {% endif %}
        {% if current_user.worst_category == "self-esteem" %}
        <div class="mt-2 col-md-12">
            <li class="list-group-item"><a href="https://www.mind.org.uk/information-support/types-of-mental-health-problems/self-esteem/about-self-esteem/" class="btn btn-secondary"  role="button"> What is self-esteem? </a></li>
            <li class="list-group-item"><a href="https://www.mind.org.uk/information-support/types-of-mental-health-problems/self-esteem/tips-to-improve-your-self-esteem/" class="btn btn-secondary"  role="button"> How to improve self-esteem? </a></li>
        </div>
        {% endif %}
        {% if current_user.worst_category == "sleep" %}
        <div class="mt-2 col-md-12">
            <li class="list-group-item"><a href="https://studentspace.org.uk/wellbeing/improve-your-sleep" class="btn btn-secondary" role="button"> Improve sleep for students</a></li>
            <li class="list-group-item"><a href="https://www.nhs.uk/every-mind-matters/mental-wellbeing-tips/how-to-fall-asleep-faster-and-sleep-better/" class="btn btn-secondary"  role="button"> General sleep tips </a></li>
        </div>
        {% endif %}
    </div>
    <div class="tab-pane fade" id="stress" role="tabpanel">
        <h4>Materials related to stress</h4>
        <li class="list-group-item"><a href="https://www.nhs.uk/mental-health/feelings-symptoms-behaviours/feelings-and-symptoms/stress/" class="btn btn-info" role="button"> Stress management </a>
        <li class="list-group-item"><a href="https://www.prospects.ac.uk/applying-for-university/university-life/5-ways-to-manage-student-stress#:~:text=If%20possible%20leave%20your%20stresses,the%20triggers%20of%20your%20stressors." class="btn btn-secondary" role="button"> Strategies to manage stress </a>
        <li class="list-group-item"><a href="https://www.nhs.uk/every-mind-matters/mental-health-issues/stress/" class="btn btn-secondary"  role="button"> Coping with stress </a>
    </div>
    <div class="tab-pane fade" id="anxiety" role="tabpanel">
        <h4>Materials related to anxiety</h4>
        <li class="list-group-item"><a href="https://www.mind.org.uk/information-support/types-of-mental-health-problems/anxiety-and-panic-attacks/self-care/" class="btn btn-secondary"  role="button"> Self care for anxiety </a>
        <li class="list-group-item"><a href="https://www.nhs.uk/every-mind-matters/mental-health-issues/anxiety/" class="btn btn-secondary"  role="button"> Managing anxiety </a>
    </div>
    <div class="tab-pane fade" id="depression" role="tabpanel">
        <h4>Materials related to depression</h4>
        <li class="list-group-item"><a href="https://www.nhs.uk/every-mind-matters/mental-health-issues/low-mood/" class="btn btn-secondary"  role="button"> Low Mood </a>
        <li class="list-group-item"><a href="https://www.betterhealth.vic.gov.au/health/conditionsandtreatments/depression-treatment-and-management" class="btn btn-secondary"  role="button"> Depression treatment and management </a>
    </div>
    <div class="tab-pane fade" id="self-esteem" role="tabpanel">
        <h4>Materials related to self-esteem</h4>
        <li class="list-group-item"><a href="https://www.mind.org.uk/information-support/types-of-mental-health-problems/self-esteem/about-self-esteem/" class="btn btn-secondary"  role="button"> What is self-esteem? </a>
        <li class="list-group-item"><a href="https://www.mind.org.uk/information-support/types-of-mental-health-problems/self-esteem/tips-to-improve-your-self-esteem/" class="btn btn-secondary"  role="button"> How to improve self-esteem? </a>
    </div>
    <div class="tab-pane fade" id="sleep" role="tabpanel">
        <h4>Materials related to sleep</h4>
        <li class="list-group-item"><a href="https://studentspace.org.uk/wellbeing/improve-your-sleep" class="btn btn-secondary" role="button"> Improve sleep for students</a>
        <li class="list-group-item"><a href="https://www.nhs.uk/every-mind-matters/mental-wellbeing-tips/how-to-fall-asleep-faster-and-sleep-better/" class="btn btn-secondary"  role="button"> General sleep tips </a>
    </div>
    </ul>
</div>

{% endblock %}





