{% extends "base.html" %}
{% import "bootstrap_wtf.html" as wtf %}

{% block content %}

<div class="container">
    <h2>Welcome {{current_user.username}} </h2>
    <h3>Student Details</h3>
    <div class="col-lg-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Student ID</th>
                    <th>Student Name</th>
                    <th>Student Username</th>
                    <th>Student Email</th>
                </tr>
            </thead>
        <tr>
<!--            <td> {{ current_user.student_id }} </td>-->
<!--            <td> {{ current_user.name }} </td>-->
<!--            <td> {{ current_user.username }} </td>-->
<!--            <td> {{ current_user.university_email }} </td>-->
            <td>{{ student_attr["student_id"] }}</td>
            <td>{{ student_attr["name"] }}</td>
            <td>{{ student_attr["username"] }}</td>
            <td>{{ student_attr["university_email"] }}</td>
        </tr>
</table>
<p>Click here to edit your university details: 
    <a class="btn btn-primary btn-sm" role="button" aria-current="page" href="{{ url_for('change_uni_details') }}">Edit University Details</a>
</p>

<p>Click here to change your password: 
    <a class="btn btn-primary btn-sm" role="button" aria-current="page" href="{{ url_for('change_pw') }}">Change Password</a>
</p>

<h3>Student Resources</h3>
<ul class="nav nav-pills nav-fill gap-2 p-1 small bg-dark rounded-5 shadow-sm" id="pillNav2" role="tablist" style="--bs-nav-link-color: var(--bs-white); --bs-nav-pills-link-active-color: var(--bs-primary); --bs-nav-pills-link-active-bg: var(--bs-white);">

    <li class="nav-item" role="presentation">
        <button class="nav-link rounded-5" id="recommended-tab" data-bs-toggle="pill" data-bs-target="#recommended" type="button" role="tab">Recommended for you</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link rounded-5" id="stress-tab" data-bs-toggle="pill" data-bs-target="#stress" type="button" role="tab">Stress</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link rounded-5" id="anxiety-tab" data-bs-toggle="pill" data-bs-target="#anxiety" type="button" role="tab">Anxiety</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link rounded-5" id="depression-tab" data-bs-toggle="pill" data-bs-target="#depression" type="button" role="tab">Depression</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link rounded-5" id="self-esteem-tab" data-bs-toggle="pill" data-bs-target="#self-esteem" type="button" role="tab">Self-esteem</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link rounded-5" id="sleep-tab" data-bs-toggle="pill" data-bs-target="#sleep" type="button" role="tab">Sleep</button>
    </li>
</ul>

<div class="tab-content" id="dynamicHomepage">
    <div class="tab-pane fade" id="recommended" role="tabpanel">
        <h4>Recommended content for you</h4>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% set user_category = current_user.worst_category %}
            {% if user_category in resources %}
                {% for link in resources[user_category] %}
                <div class="col">
                    <div class="card shadow-sm" style="width: 100%;">
                        <div class="card-body">
                            <h5 class="card-title">{{ link.label }}</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="{{ link.url }}" class="btn btn-primary">{{ link.label }}</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="tab-pane fade" id="stress" role="tabpanel">
        <h4>Materials related to stress</h4>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for link in resources['stress'] %}
            <div class="col">
                <div class="card shadow-sm" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title">{{ link.label }}</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="{{ link.url }}" class="btn btn-primary">{{ link.label }}</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="tab-pane fade" id="anxiety" role="tabpanel">
        <h4>Materials related to anxiety</h4>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for link in resources['anxiety'] %}
            <div class="col">
                <div class="card shadow-sm" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title">{{ link.label }}</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="{{ link.url }}" class="btn btn-primary">{{ link.label }}</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="tab-pane fade" id="depression" role="tabpanel">
        <h4>Materials related to depression</h4>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for link in resources['depression'] %}
            <div class="col">
                <div class="card shadow-sm" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title">{{ link.label }}</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="{{ link.url }}" class="btn btn-primary">{{ link.label }}</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="tab-pane fade" id="self-esteem" role="tabpanel">
        <h4>Materials related to self-esteem</h4>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for link in resources['self-esteem'] %}
            <div class="col">
                <div class="card shadow-sm" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title">{{ link.label }}</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="{{ link.url }}" class="btn btn-primary">{{ link.label }}</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="tab-pane fade" id="sleep" role="tabpanel">
        <h4>Materials related to sleep</h4>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for link in resources["stress"] %}
            <div class="col">
                <div class="card shadow-sm" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title">{{ link.label }}</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="{{ link.url }}" class="btn btn-primary">{{ link.label }}</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}





