{% extends "base.html" %}

{% block content %}
<div class="container">
<h1>This is the student page for: {{ student_attr['name'] }}</h1>
<p>Currently needing help with {{ student_attr['worst_category'] }} the most</p>
</div>

{% for submission_date, answers in answers_by_submission.items() %}
    <p><strong>Questionnaire submitted on:</strong> {{ submission_date }}</p>
<table class="table table-sm">
    <thead>
        <tr>
            <th scope="col">Question</th>
            <th scope="col">Response</th>
        </tr>
    </thead>
    <tbody>
        {% for answer in answers %}
        <tr>
            <td>{{ answer.question.text }}</td>
            <td>{{ answer.content }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endfor %}


{% endblock %}