{% extends "base.html" %}

{% block content %}
<div class="container">
<h1>This is the student page for: {{ student_attr['name'] }}</h1>
<p>Currently needing help with {{ student_attr['worst_category'] }} the most</p>
    {% if student_attr['flagged'] %}
        <h4>!IMPORTANT! This student has been flagged. Please review their latest form submission</h4>
    {% endif %}
</div>

{% for submission_date, answers in answers_by_submission.items() %}
    <p><strong>Questionnaire submitted on:</strong> {{ submission_date }}</p>
<table class="table table-sm">
    <thead>
        <tr>
            <th scope="col">Question</th>
            <th scope="col">Response</th>
        </tr>
    </thead>
    <tbody>
        {% for answer in answers %}
        <tr>
            <td>{{ answer.question.text }}</td>
            <td>{{ answer.content }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endfor %}

<div>
    {% if student_attr["flagged"] %}
        {% if student_attr["anonymous"] %}
        <h4>This student is anonymous. If you believe this student to be at risk to themselves or others, you can remove their anonymity here:</h4>
        <a  class='btn btn-info' href="{{ url_for('remove_anonymity', uid=student_attr['uid']) }}">Remove Anonymity</a>
        {% endif %}
        <br />
        <h4>Confirm you have reviewed the student's response and wish to remove the flag here:</h4>
        <h4>Otherwise, return to view_students and toggle anonymity</h4>
        <a  class='btn btn-info' href="{{ url_for('remove_flag', uid=student_attr['uid']) }}">Remove Flag</a>
    {% endif %}
</div>


{% endblock %}